<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Premium Login</title>
    <link rel="stylesheet" href="/stylesheet/login.css">
</head>

<body>
    <div class="login-container">
        <h2>Welcome Back</h2>
        <form method="post" action="/login">
            <input type="email" placeholder="Email Address" name="email" required>
            <input type="password" placeholder="Password" name="password" required>
            <button type="submit">Login</button>
        </form>
        <p>Don’t have an account? <a href="/">Sign Up</a></p>
    </div>
</body>

</html>